 
/* start css.sty */
.ec-qplr-x-x-109{font-size:109%;}
.umvs-x-x-109{font-size:109%;}
.ec-qplri-x-x-109{font-size:109%;}
.ec-qplb-x-x-248{font-size:248%;}
.unikai-96x-x-248{font-size:248%;}
.unikai9f-x-x-248{font-size:248%;}
.unikai-59x-x-109{font-size:109%;}
.unikai5e-x-x-109{font-size:109%;}
.unikai8f-x-x-109{font-size:109%;}
.unikai4e-x-x-109{font-size:109%;}
.unikai-56x-x-109{font-size:109%;}
.unikai-62x-x-109{font-size:109%;}
.unikai-90x-x-109{font-size:109%;}
.unikai7f-x-x-109{font-size:109%;}
.unikaiff-x-x-109{font-size:109%;}
.cmsy-10x-x-109{font-size:109%;}
.umvs-x-x-144{font-size:144%;}
.unikai-64x-x-109{font-size:109%;}
.unikai-95x-x-109{font-size:109%;}
.unikai8b-x-x-109{font-size:109%;}
.unikai8a-x-x-109{font-size:109%;}
.unikai-30x-x-109{font-size:109%;}
.unikai4e-x-x-144{font-size:144%;}
.unikai4f-x-x-144{font-size:144%;}
.unikai-60x-x-144{font-size:144%;}
.ec-qplb-x-x-109{font-size:109%;}
.unikai-54x-x-109{font-size:109%;}
.unikai-96x-x-109{font-size:109%;}
.unikai9f-x-x-109{font-size:109%;}
.unikai-60x-x-109{font-size:109%;}
.unikai-52x-x-109{font-size:109%;}
.unikai-75x-x-109{font-size:109%;}
.unikai-73x-x-109{font-size:109%;}
.unikai5c-x-x-109{font-size:109%;}
.unikai-57x-x-109{font-size:109%;}
.unikai5d-x-x-109{font-size:109%;}
.unikai6b-x-x-109{font-size:109%;}
.unikai-65x-x-109{font-size:109%;}
.unikai6c-x-x-109{font-size:109%;}
.unikai-65x-x-144{font-size:144%;}
.unikai-80x-x-144{font-size:144%;}
.unikai-66x-x-144{font-size:144%;}
.ec-lmtt-10x-x-109{font-size:109%; font-family: monospace;}
.unikai5b-x-x-109{font-size:109%;}
.unikai-79x-x-109{font-size:109%;}
.unikaisl-65x-x-109{font-size:109%;}
.unikaisl5b-x-x-109{font-size:109%;}
.unikaisl4e-x-x-109{font-size:109%;}
.unikaisl5e-x-x-109{font-size:109%;}
.unikaisl-75x-x-109{font-size:109%;}
.unikaisl-74x-x-109{font-size:109%;}
.unikaisl-58x-x-109{font-size:109%;}
.unikai5d-x-x-144{font-size:144%;}
.ec-qplr-x-x-120{font-size:120%;}
.unikai6b-x-x-120{font-size:120%;}
.unikai5f-x-x-120{font-size:120%;}
.unikai5d-x-x-120{font-size:120%;}
.unikai4f-x-x-120{font-size:120%;}
.ec-qplr-x-x-80{font-size:80%;}
.unikai-67x-x-109{font-size:109%;}
.unikai-51x-x-109{font-size:109%;}
.unikai-53x-x-109{font-size:109%;}
.unikaisl8f-x-x-109{font-size:109%;}
.unikaisl-78x-x-109{font-size:109%;}
.unikaisl-53x-x-109{font-size:109%;}
.unikaisl5d-x-x-109{font-size:109%;}
.unikaisl7a-x-x-109{font-size:109%;}
.unikaisl-98x-x-109{font-size:109%;}
.unikaisl-57x-x-109{font-size:109%;}
.unikaislff-x-x-109{font-size:109%;}
.unikaisl-79x-x-109{font-size:109%;}
.unikaisl-52x-x-109{font-size:109%;}
.unikaisl-80x-x-109{font-size:109%;}
.unikaisl7f-x-x-109{font-size:109%;}
.unikaisl-67x-x-109{font-size:109%;}
.unikaisl-81x-x-109{font-size:109%;}
.unikai5b-x-x-120{font-size:120%;}
.unikai4e-x-x-120{font-size:120%;}
.unikai-51x-x-120{font-size:120%;}
.unikai-80x-x-120{font-size:120%;}
.unikai-77x-x-109{font-size:109%;}
.unikai-88x-x-109{font-size:109%;}
.unikai-66x-x-109{font-size:109%;}
.unikaisl-51x-x-109{font-size:109%;}
.unikaisl-89x-x-109{font-size:109%;}
.unikaisl6a-x-x-109{font-size:109%;}
.unikaisl5f-x-x-109{font-size:109%;}
.unikaisl-59x-x-109{font-size:109%;}
.unikaisl8d-x-x-109{font-size:109%;}
.unikaisl-55x-x-109{font-size:109%;}
.unikai-53x-x-144{font-size:144%;}
.unikai-98x-x-144{font-size:144%;}
.unikai-76x-x-144{font-size:144%;}
.unikai-79x-x-120{font-size:120%;}
.unikai-62x-x-120{font-size:120%;}
.unikai-65x-x-120{font-size:120%;}
.unikai-95x-x-120{font-size:120%;}
.unikai-53x-x-120{font-size:120%;}
.unikai-82x-x-109{font-size:109%;}
.unikai-63x-x-109{font-size:109%;}
.unikai-68x-x-109{font-size:109%;}
.unikai-80x-x-109{font-size:109%;}
.unikai4f-x-x-109{font-size:109%;}
.unikai-98x-x-109{font-size:109%;}
.unikai-76x-x-109{font-size:109%;}
.unikai-97x-x-109{font-size:109%;}
.unikai7a-x-x-109{font-size:109%;}
.unikai-50x-x-109{font-size:109%;}
.unikai5f-x-x-109{font-size:109%;}
.unikai-78x-x-120{font-size:120%;}
.unikai7a-x-x-120{font-size:120%;}
.unikai9e-x-x-109{font-size:109%;}
.unikai-78x-x-109{font-size:109%;}
.unikai6e-x-x-109{font-size:109%;}
.unikai-89x-x-109{font-size:109%;}
.unikai7b-x-x-109{font-size:109%;}
.unikai6f-x-x-109{font-size:109%;}
.unikai6d-x-x-109{font-size:109%;}
.unikai5e-x-x-120{font-size:120%;}
.unikai8d-x-x-109{font-size:109%;}
.unikai-74x-x-109{font-size:109%;}
.unikai-72x-x-109{font-size:109%;}
.unikai-62x-x-144{font-size:144%;}
.unikai8b-x-x-120{font-size:120%;}
.unikai8a-x-x-120{font-size:120%;}
.unikai7e-x-x-109{font-size:109%;}
.unikai7b-x-x-120{font-size:120%;}
.unikai-67x-x-120{font-size:120%;}
.unikai7c-x-x-109{font-size:109%;}
.unikai-81x-x-109{font-size:109%;}
.unikai-61x-x-109{font-size:109%;}
p.noindent { text-indent: 0em }
td p.noindent { text-indent: 0em; margin-top:0em; }
p.nopar { text-indent: 0em; }
p.indent{ text-indent: 1.5em }
@media print {div.crosslinks {visibility:hidden;}}
a img { border-top: 0; border-left: 0; border-right: 0; }
center { margin-top:1em; margin-bottom:1em; }
td center { margin-top:0em; margin-bottom:0em; }
.Canvas { position:relative; }
img.math{vertical-align:middle;}
li p.indent { text-indent: 0em }
li p:first-child{ margin-top:0em; }
li p:last-child, li div:last-child { margin-bottom:0.5em; }
li p~ul:last-child, li p~ol:last-child{ margin-bottom:0.5em; }
.enumerate1 {list-style-type:decimal;}
.enumerate2 {list-style-type:lower-alpha;}
.enumerate3 {list-style-type:lower-roman;}
.enumerate4 {list-style-type:upper-alpha;}
div.newtheorem { margin-bottom: 2em; margin-top: 2em;}
.obeylines-h,.obeylines-v {white-space: nowrap; }
div.obeylines-v p { margin-top:0; margin-bottom:0; }
.overline{ text-decoration:overline; }
.overline img{ border-top: 1px solid black; }
td.displaylines {text-align:center; white-space:nowrap;}
.centerline {text-align:center;}
.rightline {text-align:right;}
div.verbatim {font-family: monospace; white-space: nowrap; text-align:left; clear:both; }
.fbox {padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.fbox {display:table}
div.center div.fbox {text-align:center; clear:both; padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.minipage{width:100%;}
div.center, div.center div.center {text-align: center; margin-left:1em; margin-right:1em;}
div.center div {text-align: left;}
div.flushright, div.flushright div.flushright {text-align: right;}
div.flushright div {text-align: left;}
div.flushleft {text-align: left;}
.underline{ text-decoration:underline; }
.underline img{ border-bottom: 1px solid black; margin-bottom:1pt; }
.framebox-c, .framebox-l, .framebox-r { padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
.framebox-c {text-align:center;}
.framebox-l {text-align:left;}
.framebox-r {text-align:right;}
span.thank-mark{ vertical-align: super }
span.footnote-mark sup.textsuperscript, span.footnote-mark a sup.textsuperscript{ font-size:80%; }
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 1px; margin:0px; }
.tabbing-right {text-align:right;}
span.TEX {letter-spacing: -0.125em; }
span.TEX span.E{ position:relative;top:0.5ex;left:-0.0417em;}
a span.TEX span.E {text-decoration: none; }
span.LATEX span.A{ position:relative; top:-0.5ex; left:-0.4em; font-size:85%;}
span.LATEX span.TEX{ position:relative; left: -0.4em; }
div.float, div.figure {margin-left: auto; margin-right: auto;}
div.float img {text-align:center;}
div.figure img {text-align:center;}
.marginpar {width:20%; float:right; text-align:left; margin-left:auto; margin-top:0.5em; font-size:85%; text-decoration:underline;}
.marginpar p{margin-top:0.4em; margin-bottom:0.4em;}
table.equation {width:100%;}
.equation td{text-align:center; }
td.equation { margin-top:1em; margin-bottom:1em; } 
td.equation-label { width:5%; text-align:center; }
td.eqnarray4 { width:5%; white-space: normal; }
td.eqnarray2 { width:5%; }
table.eqnarray-star, table.eqnarray {width:100%;}
div.eqnarray{text-align:center;}
div.array {text-align:center;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.pmatrix img{vertical-align:middle;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.bar-css {text-decoration:overline;}
img.cdots{vertical-align:middle;}
.figure img.graphics {margin-left:10%;}
span#textcolor2{color:}
span#textcolor4{color:}
span#textcolor5{color:}
span#textcolor6{color:}
span#textcolor7{color:}
span#textcolor8{color:}
span#textcolor9{color:}
span#textcolor10{color:}
span#textcolor11{color:}
span#textcolor22{color:}
span#textcolor31{color:}
span#textcolor32{color:}
span#textcolor33{color:}
span#textcolor34{color:}
span#textcolor35{color:}
span#textcolor36{color:}
span#textcolor37{color:}
span#textcolor38{color:}
span#textcolor39{color:}
span#textcolor40{color:}
span#textcolor41{color:}
span#textcolor42{color:}
span#textcolor43{color:}
span#textcolor44{color:}
span#textcolor45{color:}
span#textcolor46{color:}
span#textcolor47{color:}
span#textcolor48{color:}
/* end css.sty */

